.header {
  height: 135px;
  padding: 20px 20px 0px 18.5px;
  margin-bottom: 10px;
  background-image: url(https://yjy-teach-oss.oss-cn-beijing.aliyuncs.com/reactbase/ka/month-bg.png);
  background-color: white;
  background-size: 100% 100%;

  .headerContent {
    width: 70%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }
}