body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --bgColor: #daf2e1;
  --fontSize: 16px;
  /* form表单边框 */
  --form-border-color: rgb(0, 0, 0);
  --ka-bg-color: rgb(218, 242, 225);
  --ka-color: rgb(105, 174, 120);
  --ka-border-color: rgb(25, 29, 38)
}

:root:root {
  --adm-color-primary: rgb(105, 174, 120);
  --adm-button-text-color: rgb(0, 0, 0);
}
